/* ≥768px is Bootstrap medium or "md" */
@media (min-width: 768px) {
    #hero {
        h1, h2, h3, h4, h5, h6 { color: #c31835 !important; }
    }
}

.filter-dark {
    filter: brightness(0.4);
}

#carousel {
    height: 55vh;
}

#categories-links a img {
    width: 10vw;
    min-width: 50px;
    max-width: 10vh;
}