.btn-primary {
    --bs-btn-bg: #4a6bff;
    --bs-btn-hover-bg: #3a56d4;
    --bs-btn-active-bg: #2c44b0;
}

.filter-dark {
    filter: brightness(0.5);
}

/* ≥576px is Bootstrap small or "sm" */
@media (min-width: 576px) {
    .w-sm-75 {
        width: 75% !important;
    }
    .w-sm-auto {
        width: auto !important;
    }
}

@media (min-width: 768px) {
    .text-md-inherit {
        color: inherit !important;
    }
}

/* ≥992px is Bootstrap large or "lg" */
@media (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

#carousel {
    height: 55vh;
}

.carousel-item img {
    object-fit: cover;
    object-position: center;
}