.btn-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #c31835;
    --bs-btn-border-color: #c31835;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #9f1329;
    --bs-btn-hover-border-color: #9f1329;
    --bs-btn-focus-shadow-rgb: 195, 24, 53;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #7c0f20;
    --bs-btn-active-border-color: #7c0f20;
}

.btn-outline-primary {
    --bs-btn-color: #6c757d;
    --bs-btn-bg: #ffffff;
    --bs-btn-border-color: #dee2e6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #c31835;
    --bs-btn-hover-border-color: #c31835;
    --bs-btn-focus-shadow-rgb: 195, 24, 53;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #9f1329;
    --bs-btn-active-border-color: #9f1329;
}

button, a {
    transition: background-color 0.1s, color 0.1s;
}

h1, h2, h3, h4, h5, h6 {
    --bs-heading-color: #c31835;
}

.navbar {
    .navbar-brand {
        --bs-navbar-brand-color: #c31835;
        --bs-navbar-brand-hover-color: #9f1329;
    }
    .nav-item {
        --bs-nav-link-hover-color: #c31835;
        --bs-nav-link-active-color: #9f1329;
    }
    .dropdown-item {
        --bs-dropdown-link-hover-color: #c31835;
        --bs-dropdown-link-active-color: #9f1329;
        --bs-dropdown-link-active-bg: #f8d7da;
    }
}

.text-primary {
    --bs-primary-rgb: 195, 24, 53;
}

/* ≥576px is Bootstrap small or "sm" */
@media (min-width: 576px) {
    .w-sm-75 { width: 75% !important; }
    .w-sm-auto { width: auto !important; }
}

/* ≥768px is Bootstrap medium or "md" */
@media (min-width: 768px) {
    .text-md-reset { color: inherit !important; }
}



.text-truncate-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.event-card {
    transition: transform 0.2s, box-shadow 0.2s;

    .card-img-top {
        height: 50vw;
        
        @media (min-width: 768px) { height: 30vw; }
        @media (min-width: 992px) { height: 15vw; }
    }
}
.event-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}