<a class="nav-link" href="#" role="button" data-bs-toggle="dropdown">
    <i class="fa-solid fa-user-circle fa-fw"></i> email@example.com <i class="fa-solid fa-caret-down fa-fw fa-2xs"></i>
</a>
<ul class="dropdown-menu shadow-sm" style="right: 0; left: auto;">
    <li><a id="manage-events" class="d-none dropdown-item" href="#">Manage my events</a></li>
    <li><a id="tickets" class="d-none dropdown-item" href="#">Tickets (0)</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Liked</a></li>
    <li><a class="dropdown-item" href="#">Following</a></li>
    <li><a class="dropdown-item" href="#">Interests</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="../pages/account.html">Account settings</a></li>
    <li><a class="dropdown-item" href="#logout">Log out</a></li>
</ul>